
body{
    background-color: blueviolet;
 
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius:1em ;
}

h1{
    color: white;
}